<div class="pusher">
  <div class="ui grid container">
    <div class="one column row">
      <h1>Authentication</h1>
    </div>
    <div class="ui divider"></div>
    <div class="one column row">
      Sorry, the credientials entered is not registered to ATS adminitration.
      You may <a href="/auth/google">try another valid credential</a> or
      contact the ATS team for registration. Thank you.
    </div>
  </div>
</div>
