<div>
	<div class='grouped fields'>
		<div class='twelve wide field'>
			<label>
				Enter the sentence with blanks here. A blank is represented by
				<code ng-non-bindable>{{blank}}</code>
			</label>
			<textarea ng-model="data.statement" ng-change="watch_content()"></textarea>
		</div>
		<div ng-repeat="blank in data.blanks track by $index" class="twelve wide field">
			<div class="ui labeled input">
				<div class="ui basic label">... {{front_back[$index][0]}}</div>
				<input type="text" ng-model="data.blanks[$index]" ng-change="update_blank($index)">
				<div class="ui basic label">{{front_back[$index][1]}} ...</div>
			</div>
		</div>
	</div>
</div>
