<div>
  <div class='inline one fields' ng-repeat='ans in data'>
    <label>Option {{$index + 1}}</label>
    <div class='ten wide field'>
      <textarea rows='2' class='six wide field' placeholder='' ng-model='data[$index].value'></textarea>
      <div class='ui checkbox' ng-click='data[$index].isCorrect = !data[$index].isCorrect' ng-model='data[$index].isCorrect' >
        <input type='checkbox'>
      </div>
      <button class='ui red button' ng-click='data.splice($index, 1)'>
        Remove
      </button>
      <button class='ui green button' ng-if='$index == (data.length - 1)' ng-click="data.push({value: '', isCorrect: false})">
        Add Option
      </button>
    </div>
    <script type='text/javascript'>

      $('.ui.checkbox')
        .checkbox()
      ;
    </script>
  </div>
</div>
