<div>
  <table class="ui celled table">
    <thead>
      <tr>
        <th></th>
        <th>Option</th>
        <th>Correct</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='ans in data'>
        <td>Option {{$index + 1}}</td>
        <td>
          <textarea
            rows='2'
            class='field'
            placeholder=''
            ng-model='ans.description'></textarea>
        </td>
        <td>
          <div class='ui checkbox'>
            <!-- ng-click='ans.correct = !ans.correct' -->
            <input type='checkbox'
              ng-model='ans.correct'>
            <label>&nbsp;</label>
          </div>
        </td>
        <td>
          <button class='ui red button' ng-click='data.splice($index, 1)'>
            Remove
          </button>
        </td>
      </tr>
    </tbody>
    <!--tfoot>
      <tr>
        <td colspan="3">
        </td>
        <td>
          <button class="ui green button"
            ng-click="data.push({description: '', correct: false})">
            Add Option
          </button>
        </td>
      </tr>
    </tfoot-->
  </table>
</div>
