<div class='pusher' ng-controller='TestAdminController'>
  <div class='ui container grid'>
    <div class='one column row'>
    </div>
    <div class='two column centered row'>
      <div class="left floated eight wide column">
        <div class="eight wide field">
          <div class="ui fluid icon input">
            <input type="text" placeholder="Find an admin..." ng-model='searchText'>
            <i class="search icon"></i>
          </div>
        </div>
      </div>
      <div class="right floated seven wide column">
        <button class="ui right floated labeled icon green button">
          <i class="plus icon"></i>
          Add an Admin
        </button>
      </div>
    </div>
    <div class='one column centered row'>
      <div class='column'>
        <table class="ui very padded large table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="admin in admins | filter:searchText ">
              <td>{{admin.name}}</td>
              <td>{{admin.email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="ui small modal create">
    <i class="close icon"></i>
    <div class="header">
      Add an Admin
    </div>
    <div class="content">
      <form class='ui form' style='width: 100%;'>
        <div class='eight wide field'>
          <label>Name</label>
          <div class='twelve wide field'>
            <input type='text' name='admin-name' placeholder='' ng-model='newAdmin.name'>
          </div>
        </div>
        <div class='eight wide field'>
          <label>Email Address</label>
          <div class='twelve wide field'>
            <input type='text' name='admin-email' placeholder='' ng-model='newAdmin.email'>
          </div>
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui black deny button">Cancel</div>
      <div class="ui positive right labeled icon button" ng-click='submit()'>
        Make Admin
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>
  <div class="ui small modal error">
    <i class="close icon"></i>
    <div class="header">
      Error
    </div>
    <div class="content">
      Sorry, we could not make {{newAdmin.name}} an admin. Please ensure the email id is valid.
    </div>
    <div class="actions">
      <div class="ui black deny button">Ok</div>
    </div>
  </div>
</div>
