<div class="ui left visible sidebar inverted vertical menu">
  <a class="item">
    Candidates
  </a>
  <a class="item">
    Jobs
  </a>
  <a class="item">
    Tests
  </a>
</div>
<div class="pusher" >
  <div class="ui container grid">
    <div class="one column row">
    </div>
    <div class="three column row">
      <div class="column">
        <img class="ui left floated small circular image" src="<%= asset_path( 'nan.jpg' ) %>">
      </div>
      <div class="column">
        <div class="one column row">
        </div>
        <h1 class="ui header">Ding Xiangfei</h1>
        <button class="ui primary button">
          View CV
        </button>
      </div>
    </div>
    <div class="ui divider"></div>
    <div class="one column row">
      <h3 class="ui header">Applying for Android Developer</h3>
    </div>
    <div class="one column row">
      <h2 class="ui header">Technical Interview Evaluation</h2>
      <div class="one column row">
        <table class="ui celled padded table" style="width: 80%;">
          <thead>
            <tr>
              <th>Interviewer</th>
              <th>Correctness</th>
              <th>Algorithmic Efficiency</th>
              <th>Coding Style</th>
              <th>Comments</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Ding Xiangfei
              </td>
              <td>
                8/10
              </td>
              <td>
                6/10
              </td>
              <td>
                9/10
              </td>
              <td>Neat coding style,
                and very readable
              </td>
            </tr>
            <tr>
              <td>
                Qunfeng Ye
              </td>
              <td>
                7/10
              </td>
              <td>
                6/10
              </td>
              <td>
                10/10
              </td>
              <td>Not an ideal use of data structures
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2 class="ui header">Preliminary Test Evaluation</h2>
      <div class="one column row">
        <table class="ui celled padded table" style="width: 80%;">
          <thead>
            <tr>
              <th>Algorithms</th>
              <th>Android</th>
              <th>Operating Systems</th>
              <th>UI/UX</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                2/5
              </td>
              <td>
                4/5
              </td>
              <td>
                3/5
              </td>
              <td>
                3/5
              </td>
              <td>
                12/20
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
