<head>
  <style type="text/css">

    .masthead.segment.grid {
      min-height: 100%;
      padding: 2em 0em;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .masthead h1.ui.header {
      height: 20%;
      font-size: 2em;
      font-weight: normal;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    @media only screen and (max-width: 700px) {
      .masthead.segment {
        min-height: 100%;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
    }


  </style>

</head>
<body>
<!-- Page Contents -->
  <div class="ui inverted middle aligned centered masthead segment grid">
    <div class="row">
      <img class="ui centered medium image" src="/img/garena.png" style="height: 300px;">
    </div>
    <div class="row">
      <h1 class="ui inverted header">
        Welcome to Garena's Preliminary Assessment Platform
      </h1>
    </div>
    <!-- <div class="row">
      <div class="center aligned column">
        <h1 class="ui inverted header">
          Welcome to Garena's Preliminary Assessment Platform
        </h1>
      </div>
    </div> -->
    <div class="row" style="width: 100%;">
      <div class="eight wide center aligned column">
        <a href="/tests"><div class="ui big blue submit button">Login as Admin</div></a>
      </div>
      <div class="ui inverted vertical divider">
        Or
      </div>
      <div class="eight wide center aligned column">
        <a href="/test">
          <div class="ui big green labeled icon button">
            <i class="signup icon"></i>
            Take a Test
          </div>
        </a>
      </div>
    </div>
  </div>
  <!--
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="row">
      <div class="ui text container">
        <h1 class="ui inverted header">
          Welcome to Garena's Preliminary Assessment Platform
        </h1>
      </div>
    </div>

    <div class="row" style="height: 100%;">
      <div class="ui two column middle aligned very relaxed stackable grid">
        <div class="column">
          <div class="ui big blue submit button">Login as Admin</div>
        </div>
        <div class="ui inverted vertical divider">
          Or
        </div>
        <div class="center aligned column">
          <div class="ui big green labeled icon button">
            <i class="signup icon"></i>
            Take a Test
          </div>
        </div>
      </div>
    </div>
  </div> -->

</body>
