<div class='ui left visible sidebar inverted vertical menu'>
  <a class='item'>
    Candidates
  </a>
  <a class='item'>
    Jobs
  </a>
  <a class='item'>
    Tests
  </a>
</div>
<div class='pusher'>
  <div class='ui container grid'>
    <div class='one column row'>
    </div>
    <div class='one column row'>
      <div class='column'>
        <h1 class='ui header'>Create a New Job Position</h1>
      </div>
    </div>
    <div class='ui divider'></div>
    <div class='one column row'>
      <form class='ui form' style='width: 100%;'>
        <div class='fluid field'>
          <div class='eight wide field'>
            <label>Position</label>
            <div class="field">
              <input type="text" name="position-name" placeholder="Postion Title">
            </div>
            <div class="field">
              <label>Skills Required</label>
              <div class="twelve wide field">
                <select class="ui fluid search dropdown" multiple="">
                  <option value="">Skills</option>
                  <option value="AND">Android Development</option>
                  <option value="IOS">iOS Development</option>
                  <option value="JAV">Java</option>
                  <option value="WEB">Web Development</option>
                  <option value="ROR">Ruby-on-Rails</option>
                  <option value="DJA">Django</option>
                  <option value="FLS">Full-Stack</option>
                  <option value="DBA">Database</option>
                  <option value="DAN">Data Analysis</option>
                  <option value="SEC">Security</option>
                  <option value="SER">Server Admin</option>
                </select>
              </div>
            </div>
          </div>
          <div class='sixteen wide field'>
            <label>Experience Level</label>
            <div class="eight wide field">
              <select class='ui dropdown'>
                <option value="">Experience</option>
                <option value="none">Entry Level</option>
                <option value="two">2 Years Experience</option>
                <option value="five">5 Years Experience</option>
                <option value="ten">10 Years Experience</option>
              </select>
            </div>
            <!-- <div class='inline three fields'>
              <div class='four wide field'>
                <button type='button' class='ui icon button'>
                  <i class='minus icon'></i>
                </button>
              </div>
              <div class='field'>
                <div class='ui blue progress'>
                  <div class='bar' style='transition-duration: 300ms;width: 64%;'></div>
                </div>
              </div>
              <div class='four wide field'>
                <button type='button' class='ui icon button'>
                  <i class='plus icon'></i>
                </button>
              </div>
            </div> -->

          </div>
          <div class='inline fields'>
            <label>Topic 1</label>
            <div class='twelve wide field'>
              <div class='ui selection dropdown'>
                <i class='dropdown icon'></i>
                <div class='default text'>Select Topic</div>
                <div class='menu'>
                  <div class='item' data-value='ADS'>Algorithm and Data Structures</div>
                  <div class='item' data-value='AND'>Android</div>
                  <div class='item' data-value='IOS'>iOS</div>
                  <div class='item' data-value='NET'>Networks</div>
                  <div class='item' data-value='OPS'>Operating Systems</div>
                  <div class='item' data-value='SEC'>Security</div>
                  <div class='item' data-value='WEB'>Web Development</div>
                </div>
              </div>
              <div class='two wide field'>
                <input class='' type='number'></input>
              </div>
            </div>
          </div>
          <div class='inline fields'>
            <label>Topic 2</label>
            <div class='twelve wide field'>
              <div class='ui selection dropdown'>
                <i class='dropdown icon'></i>
                <div class='default text'>Select Topic</div>
                <div class='menu'>
                  <div class='item' data-value='ADS'>Algorithm and Data Structures</div>
                  <div class='item' data-value='AND'>Android</div>
                  <div class='item' data-value='IOS'>iOS</div>
                  <div class='item' data-value='NET'>Networks</div>
                  <div class='item' data-value='OPS'>Operating Systems</div>
                  <div class='item' data-value='SEC'>Security</div>
                  <div class='item' data-value='WEB'>Web Development</div>
                </div>
              </div>
              <div class='two wide field'>
                <input class='' type='number'></input>
              </div>
            </div>
          </div>
          <div class='inline fields'>
            <label>Topic 3</label>
            <div class='twelve wide field'>
              <div class='ui selection dropdown'>
                <i class='dropdown icon'></i>
                <div class='default text'>Select Topic</div>
                <div class='menu'>
                  <div class='item' data-value='ADS'>Algorithm and Data Structures</div>
                  <div class='item' data-value='AND'>Android</div>
                  <div class='item' data-value='IOS'>iOS</div>
                  <div class='item' data-value='NET'>Networks</div>
                  <div class='item' data-value='OPS'>Operating Systems</div>
                  <div class='item' data-value='SEC'>Security</div>
                  <div class='item' data-value='WEB'>Web Development</div>
                </div>
              </div>
              <div class='two wide field'>
                <input class='' type='number'></input>
              </div>
            </div>
          </div>
          <div class='inline fields'>
            <label>Topic 4</label>
            <div class='twelve wide field'>
              <div class='ui selection dropdown'>
                <i class='dropdown icon'></i>
                <div class='default text'>Select Topic</div>
                <div class='menu'>
                  <div class='item' data-value='ADS'>Algorithm and Data Structures</div>
                  <div class='item' data-value='AND'>Android</div>
                  <div class='item' data-value='IOS'>iOS</div>
                  <div class='item' data-value='NET'>Networks</div>
                  <div class='item' data-value='OPS'>Operating Systems</div>
                  <div class='item' data-value='SEC'>Security</div>
                  <div class='item' data-value='WEB'>Web Development</div>
                </div>
              </div>
              <div class='two wide field'>
                <input class='' type='number'></input>
              </div>
            </div>
          </div>
        </div>
        <div class='one column row'>
          <br>
        </div>
      </form>
      <button class='ui primary button'>
        Submit
      </button>
    </div>
  </div>
</div>

<script type='text/javascript'>
  $('.ui.dropdown')
    .dropdown()
  ;
</script>
