<div class="pusher">
  <div class="ui container grid">
    <div class="one column row">
    </div>
    <div class="two column row">
      <div class="column">
        <h1 class="ui header">Job Positions</h1>
      </div>
      <div class="column">
        <a href="job">
          <button class="ui primary button">
            Add New Job Position
          </button>
        </a>
      </div>
    </div>
    <div class="ui divider"></div>
    <div class="four column row">
      <div class="column">
        <div class="ui card">
          <div class="content">
            <div class="header">Android Developer</div>
          </div>
          <div class="content">
            <h4 class="ui sub header">Skills: Android, Java</h4>
            <h4 class="ui sub header">Experience: 2 years</h4>
            <h4 class="ui sub header">Team: DevOps</h4>
          </div>
          <div class="extra content">
            <a href="tests"><button class="ui button">View Tests</button></a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card">
          <div class="content">
            <div class="header">Software Engineer</div>
          </div>
          <div class="content">
            <h4 class="ui sub header">Skills: Python, Go</h4>
            <h4 class="ui sub header">Experience: Entry Level</h4>
            <h4 class="ui sub header">Team: Operation</h4>
          </div>
          <div class="extra content">
            <button class="ui button">View Tests</button>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card">
          <div class="content">
            <div class="header">Software Engineer</div>
          </div>
          <div class="content">
            <h4 class="ui sub header">Skills: Python, Go</h4>
            <h4 class="ui sub header">Experience: Entry Level</h4>
            <h4 class="ui sub header">Team: Operation</h4>
          </div>
          <div class="extra content">
            <button class="ui button">View Tests</button>
          </div>
        </div>
      </div>
    </div>
    <div class="four column row">
      <div class="column">
        <div class="ui card">
          <div class="content">
            <div class="header">Security Engineer</div>
          </div>
          <div class="content">
            <h4 class="ui sub header">Skills: Malware Analysis, Operating System</h4>
            <h4 class="ui sub header">Experience: Entry Level</h4>
            <h4 class="ui sub header">Team: System Admin</h4>
          </div>
          <div class="extra content">
            <button class="ui button">View Tests</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
</script>
