<div class="pusher" ng-controller='JobsController'>
  <div class="ui container grid">
    <div class="one column row">
    </div>
    <div class="two column row">
      <div class="column">
        <h1 class="ui header">Job Positions</h1>
      </div>
      <div class="column">
        <a href="position">
          <button class="ui primary button">
            Add New Job Position
          </button>
        </a>
      </div>
    </div>
    <div class="ui divider"></div>
    <!-- <div class="three column row"> -->
    <div class='row'>
      <div class="ui cards">
        <!-- <div class='column' ng-repeat='job in jobs'> -->
          <div class="ui card" ng-repeat='job in jobs'>
            <div class="content">
              <div class="header">{{job.title}}</div>
            </div>
            <div class="content">
              <h4 class="ui sub header">{{job.description}}</h4>
            </div>
            <div class="extra content">
              <a href="register"><button class="ui button">Apply</button></a>
            </div>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
</script>
