<div class='pusher' ng-controller='PositionController'>
  <div class='ui container grid'>
    <div class='one column row'>
    </div>
    <div class='one column row'>
      <div class='column'>
        <h1 class='ui header'>Create a New Job Position</h1>
      </div>
    </div>
    <div class='ui divider'></div>
    <div class='one column row'>
      <form class='ui form' style='width: 100%;'>
        <div class='fluid field'>
          <div class='eight wide field'>
            <label>Position</label>
            <div class="field">
              <input type="text" name="position-name" placeholder="Position Title" ng-model='job.pos'>
            </div>
            <div class='sixteen wide field'>
              <label>Description</label>
              <textarea placeholder="Enter job description here" ng-model='job.desc'></textarea>
            </div>
          </div>
          <div class='sixteen wide field'>
            <label>Experience Level</label>
            <div class="eight wide field">
              <div class='ui selection dropdown'>
                <i class='dropdown icon'></i>
                <div class='default text'>Select Experience</div>
                <div class='menu'>
                    <div ng-repeat="exp in experiences" class='item' data-value='{{exp.value}}'
                    ng-click='expChange(exp, $index)'>
                      {{exp.name}}
                    </div>
                </div>
              </div>
            </div>
          </div>
          <label>Test Parameters</label>
          <div class='twelve wide field'>
            <table class="ui very padded table">
              <thead>
                <tr>
                  <th>Topic</th>
                  <th>Number of Questions</th>
                  <th>Question Type</th>
                  <th>Difficulty</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat='testParameter in job.testParameters'>
                  <td>
                    <div class='ui selection dropdown'>
                      <i class='dropdown icon'></i>
                      <div class='default text'>{{testParameter.topic.name}}</div>
                      <div class='menu'>
                          <div ng-repeat="topic in topics" class='item' data-value='{{topic.value}}'
                          ng-click='topicChange(topic, $parent.$index)'>
                            {{topic.name}}
                          </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input class='' type='number' min='1' placeholder='Number of Questions'
                    ng-model='testParameter.no'>
                  </input>
                  </td>
                  <td>
                    <div class='ui selection dropdown'>
                      <i class='dropdown icon'></i>
                      <div class='default text'>{{testParameter.type.name}}</div>
                      <div class='menu'>
                          <div ng-repeat="type in types" class='item' data-value='{{type.value}}'
                          ng-click='typeChange(type, $parent.$index)'>
                            {{type.name}}
                          </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class='ui selection dropdown'>
                      <i class='dropdown icon'></i>
                      <div class='default text'>{{testParameter.diff.name}}</div>
                      <div class='menu'>
                          <div ng-repeat="diff in difficulties" class='item' value='{{diff.value}}'
                          ng-click='diffChange(diff, $parent.$index)'>
                            {{diff.name}}
                          </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <button class='ui red button' ng-click='job.testParameters.splice($index, 1)'>
                      Remove
                    </button>
                  </td>
                  <script type='text/javascript'>
                    $('.ui.dropdown')
                      .dropdown()
                    ;
                  </script>
                </tr>
              </tbody>
              <tfoot class="full-width">
                <tr>
                  <th></th>
                  <th colspan="4">
                    <div class="ui right floated green labeled icon button"
                    ng-click="job.testParameters.push({
                      topic: {
                        name: 'Select Topic',
                        value: 'def'
                      },
                      no: 1,
                      diff: {
                        name: 'Select Difficulty',
                        value: '0'
                      }
                    })">
                      <i class="plus icon"></i> Add Topic
                    </div>
                  </th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class='one column row'>
          <br>
        </div>
      </form>
      <button class='ui primary button' ng-click='submit()'>
        Submit
      </button>
    </div>
  </div>
</div>

<div class="ui modal" ng-controller='PositionController'>
  <i class="close icon"></i>
  <div class="header">
    Job Position Added Successfully!
  </div>
  <div class="actions">
    <a href='position'><div class="ui yellow button">Add Another Job</div></a>
    <a href='jobs'><div class="ui blue button">View All Jobs</div></a>
  </div>
</div>

<script type='text/javascript'>
  $('.ui.dropdown')
    .dropdown()
  ;
</script>
