<style>
  .ace_editor { height: 200px;}
</style>
<div>
  <div class="ui fullscreen modal" id="loader-modal" ng-controller="LoadTestController" ng-show="!loaded">
    <div class="header">
      Enter your Test ID
    </div>
    <div class="content">
      <div class="description">
        <div class="ui container">
          <div class="ui header">
            To start your test, first enter the Test ID issued to you.
          </div>
          <h2 style="text-align: center">Your Test ID is</h2>
          <div style="text-align: center">
            <div class="ui input">
              <input type="text" placeholder="Test ID, eg. 235" ng-model="test_id">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui positive button" ng-click="load(test_id)">Start the Test</div>
    </div>
  </div>
  <div class="ui basic modal" id="submit-success">
    <i class="close icon"></i>
    <div class="header">
      Submit Success
    </div>
    <div class="image content">
      <div class="image">
        <i class="green checkmark icon"></i>
      </div>
      <div class="description">
        <p>Your submission is accepted. Thank you for taking this test.</p>
      </div>
    </div>
    <div class="actions">
      <div class="ui positive green basic inverted button">
        Okay
      </div>
    </div>
  </div>
  <div class="ui basic modal" id="timeout">
    <i class="close icon"></i>
    <div class="header">Test Ended</div>
    <div class="image content">
      <div class="image"><i class="red warning sign icon"></i></div>
      <div class="description">
        <p>This test has ended. Any submission beyond this point of time will not be accepted.</p>
      </div>
    </div>
    <div class="actions">
      <div class="ui positive green basic inverted button">
        Okay
      </div>
    </div>
  </div>
  <script>
    requestAnimationFrame(() => $('#loader-modal').modal('show'));
  </script>
</div>

<div ng-controller="TestController" ng-show="loaded">
  <div class='ui left visible sidebar inverted vertical menu'>

    <h2 class='ui grey header item'>{{testName}}</h2>

    <h2 class='ui grey header item'>
      <timer interval="1000"  end-time="end_time">
        {{mminutes}} : {{sseconds}}
      </timer>
    </h2>

    <div class="item">
      <b>Questions</b>
      <div class="menu">
        <a
          class="item"
          ng-repeat="question in questions"
          ng-class="{'active': !attempt[$index]}"
          ng-href="#question-{{$index}}">
          {{$index + 1}}
        </a>
      </div>
    </div>
  </div>

  <div class="pusher">
    <div class="ui two column container grid" id='context'>
      <div class="two column row"></div>
      <div class="row" id='testbox' ng-repeat='question in questions'>
        <div class="column">
          <div class="ui icon message"
            ng-if="question_type_breaks.includes($index)">
            <i class="blue info icon"></i>
            <div class="content">
              {{question_info[question.type]}}
            </div>
          </div>
          <a class="anchor" ng-attr-id="{{ 'question-' + $index }}"></a>
          <h2 class="ui header">
            {{$index + 1}}
          </h2>
          <div class="ui raised segment" ng-bind-html="trustAsHtml(question.statement)">
            {{question.statement}}
          </div>
          <div class="ui form" ng-switch on='question.type'>
            <div class="grouped fields" ng-switch-when='mas'>
              <div class="field" ng-repeat='ans in question.answers'>
                <div class="ui checkbox">
                  <input type="checkbox" name="answers[{{$parent.$index}}]" ng-change='attempted($parent.$index)'
          ng-model='answer[$parent.$index][$index]'>
                  <label>{{$index + 1}}: {{ans.description}}</label>
                </div>
              </div>
              <script type='text/javascript'>
                requestAnimationFrame(function () {
                  $('.ui.checkbox').checkbox();
                });
              </script>
            </div>
            <div ng-switch-when='sbt'>
              <div class='twelve wide field'>
                <textarea
                  name='reference-answer'
                  name="answers[{{$index}}]"
                  placeholder=''
                  ng-change='attempted($index)'
                  ng-model='answer[$index]'>
                </textarea>
              </div>
            </div>
            <div ng-switch-when='sbc'>
              <div class="field">
                <select
                  class="ui dropdown"
                  ng-model="answer[$index].language"
                  ng-change="switch_language($index)">
                  <option value="javascript">JavaScript</option>
                  <option value="cxx">C++</option>
                  <option value="ruby">Ruby</option>
                </select>
              </div>
              <div class="field">
                <div
                  ui-ace="createAceOption($index)"
                  ng-change="attempted($index)"
                  ng-model="answer[$index].code">
                </div>
              </div>
            </div>
            <div ng-switch-when='fib'>
              <span ng-repeat='segment in question.segments'>
                <span ng-switch on='segment.blank'>
                  <span ng-switch-when='true'>
                    <span style="text-decoration: underline; white-space: pre;">
                    </span>
                  </span>
                  <span ng-switch-when='false' ng-bind-html="trustAsHtml(segment.content)">
                  </span>
                </span>
              </span>
              <br><br>
              <span ng-repeat='segment in question.segments'>
                <span ng-switch on='segment.blank'>
                  <span ng-switch-when='true'>
                    <input type='text' ng-model='answer[$parent.$parent.$index][($parent.$index + 1) / 2 - 1]'
                      ng-change='attempted($parent.$parent.$index)'/>
                  </span>
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="two column row">
        <button class="ui labeled icon primary button" ng-click="submit_answer()">
          <i class="write icon"></i>
          Submit your answers
        </button>
      </div>
    </div>
  </div>

  <script type='text/javascript'>
    $('.ui.sticky').sticky({
      context: '#context'
    });
  </script>
  <div class="ui basic modal" id="confirm-not-complete">
    <i class="close icon"></i>
    <div class="header">
      Confirm Submission
    </div>
    <div class="content">
      <div class="description">
        You have incomplete test questions. Do you still want to proceed?
      </div>
    </div>
    <div class="actions">
      <div class="ui negative basic inverted button">
        No
      </div>
      <div class="ui positive green basic inverted button" ng-click="send_answer()">
        Yes
      </div>
    </div>
  </div>
</div>
