<div class='pusher' ng-controller='TopicsController'>
  <div class='ui container grid'>
    <div class='one column row'>
    </div>
    <div class='two column centered row'>
      <div class="left floated eight wide column">
        <div class="eight wide field">
          <div class="ui fluid icon input">
            <input type="text" placeholder="Find a topic..." ng-model='searchText'>
            <i class="search icon"></i>
          </div>
        </div>
      </div>
      <div class="right floated seven wide column">
        <button class="ui right floated labeled icon green button"
          ng-click="start_new()">
          <i class="plus icon"></i>
          Create Topic
        </button>
      </div>
    </div>
    <div class='one column centered row'>
      <div class='column'>
        <table class="ui very large table">
          <colgroup>
            <col span="1" style="width: 20em">
            <col span="1" style="width: 5em">
            <col span="1" style="width: 4em">
            <col span="1" style="width: 10em">
          </colgroup>
          <thead>
            <tr>
              <th>Topic Name</th>
              <th>Token</th>
              <th>Number of Questions</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="topic in topics | filter:searchText ">
              <td>{{topic.name}}</td>
              <td>{{topic.token}}</td>
              <td>{{topic.questions}}</td>
              <td>
                <button class="ui yellow button" ng-click="start_edit(topic)">
                  Edit
                </button>
                <button class="ui red button" ng-click="remove(topic.token)">
                  Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="ui small modal edit">
    <i class="close icon"></i>
    <div class="header">
      Edit topic details
    </div>
    <div class="content">
      <form class="ui form" style="width:100%">
        <div class="eight wide field">
          <label>Topic name</label>
          <div class="twelve wide field">
            <input type="text" name="topic-name" ng-model="editTopic.name" required>
          </div>
        </div>
        <div class="eight wide field">
          <label>Topic Token</label>
          <div class="twelve wide field">
            <input type="text" name="topic-token" ng-model="editTopic.token" required>
          </div>
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui black deny button">Cancel</div>
      <div class="ui positive right labeled icon button"
        ng-click="save_edit()">
        Save
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>
  <div class="ui small modal create">
    <i class="close icon"></i>
    <div class="header">
      Create New Topic
    </div>
    <div class="content">
      <form class='ui form' style='width: 100%;'>
        <div class='eight wide field'>
          <label>Topic Name</label>
          <div class='twelve wide field'>
            <input type='text' name='topic-name' placeholder='' ng-model='newTopic.name'>
          </div>
        </div>
        <div class='eight wide field'>
          <label>Topic Token</label>
          <div class='twelve wide field'>
            <input type='text' name='topic-token' placeholder=''
              ng-model='newTopic.token' required>
          </div>
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui black deny button">Cancel</div>
      <div class="ui positive right labeled icon button" ng-click='submit()'>
        Create Topic
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>
  <div class="ui small modal error">
    <i class="close icon"></i>
    <div class="header">
      Error
    </div>
    <div class="content">
      Sorry, we could not create a topic.
      Please ensure a topic token that is unique.
    </div>
    <div class="actions">
      <div class="ui black deny button">Ok</div>
    </div>
  </div>
</div>
