# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2f74d791c8d31660d28199aa379e01b05d386bb89ada181effd06fe0b5f64beb0d111b3fec6fdfea581dd88beaed74db79d35fec5894d6449685cae55d0881b8

test:
  secret_key_base: b3850aebc2f43ab4a4eb99ca057c838aea9fc1f4fdb4bca4a8e8fb4e2c67866ec11d37156569953115fdd4ad0d1acd0d575188c5da8b19a51e8ffe354a25fb16

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
