<div class="pusher">

  <div class="ui black right attached sticky fixed button" style="top: 2.5em" id="sidebar-main-toggle">
    <i class="content icon"></i>
  </div>
  <script>
    $('#sidebar-main-toggle').click(function() {
      $('#sidebar-main').sidebar('show');
    });
  </script>
  <div>
    <%= yield %>
  </div>
</div>
