<div ng-controller="SidebarController" class="ui left sidebar inverted vertical menu">

  <h2 class='ui grey header item'>Tests</h2>
  <a class='item' id="all-test" ng-click="clickAlert('all-test')" ng-href="/tests">
    <h3 class='ui grey header'>View All Tests</h3>
  </a>
  <a class='item' id="add-question" ng-click="clickAlert('add-question')" ng-href="/question">
    <h3 class='ui grey header'>Add Questions</h3>
  </a>
  <a class='item' id="preview-test" ng-click="clickAlert('preview-test')" ng-href="/test" target='_blank'>
    <h3 class='ui grey header'>Preview Test</h3>
  </a>
  <a class='item' id="view-questions" ng-click="clickAlert('view-questions')" ng-href="/questions" target='_blank'>
    <h3 class='ui grey header'>View All Questions</h3>
  </a>

  <!-- <h2 class='ui grey header item'>Interviews</h2>
  <a class='item' id="all-interviews" ng-click="clickAlert('all-interviews')">
    <h3 class='ui grey header'>View All Interviews</h3>
  </a>
  <a class='item' id="add-interview-question" ng-click="clickAlert('add-interview-question')">
    <h3 class='ui grey header'>Add Questions</h3>
  </a> -->

  <h2 class='ui grey header item'>Jobs</h2>
  <a class='item' id="all-positions" ng-click="clickAlert('all-positions')" ng-href="/jobs">
    <h3 class='ui grey header'>View All Positions</h3>
  </a>
  <a class='item' id="add-position" ng-click="clickAlert('add-position')" ng-href="/position">
    <h3 class='ui grey header'>Add Position</h3>
  </a>

  <div class='ui three column grid' style='width: 100%;'>
    <div class="column"></div>
    <div class="centered column">
        <button class="ui red button centered">Logout</button>
    </div>
    <div class="column"></div>
  </div>
</div>
