<div ng-controller="SidebarController" class='ui left visible sidebar inverted vertical menu'>

  <h2 class='ui grey header'>Tests</h2>
  <a class='item' ng-click="clickAlert()">
    <h3 class='ui grey header'>View All Tests</h3>
  </a>
  <a class='item' ng-click="clickAlert()">
    <h3 class='ui grey header'>Add Questions</h3>
  </a>
  <a class='item' ng-click="clickAlert()">
    <h3 class='ui grey header'>Preview Test</h3>
  </a>

  <h2 class='ui grey header'>Interviews</h2>
  <a class='item' ng-click="clickAlert()">
    <h3 class='ui grey header'>View All Interviews</h3>
  </a>
  <a class='item' ng-click="clickAlert()">
    <h3 class='ui grey header'>Add Questions</h3>
  </a>

  <h2 class='ui grey header'>Jobs</h2>
  <a class='item' ng-click="clickAlert()">
    <h3 class='ui grey header'>View All Positions</h3>
  </a>
  <a class='item' ng-click="clickAlert()">
    <h3 class='ui grey header'>Add Position</h3>
  </a>

  <div class='ui grid' style='width: 100%;'>
    <div class="row"></div>
    <div class="centered row">
        <button class="ui red button centered">Logout</button>
    </div>
    <div class="row"></div>
  </div>
</div>
